{% extends "layout.html" %} {% block contents %}
<body>

<section id="Overview">
<div class="container">
<h1 class="title text-center" style="color:white;">ANXIETY</h1>
<div class="row">
<div class="col-md-6 about-us">
<p class="mini-title" style="color:white;">Overview</p>
<p class="description" style="color:white;">Occasional anxiety is an expected part of life. You might feel anxious when faced with a problem at work, before taking a test, or before making an important decision. But anxiety disorders involve more than temporary worry or fear. For a person with an anxiety disorder, the anxiety does not go away and can get worse over time. The symptoms can interfere with daily activities such as job performance, school work, and relationships.There are several types of anxiety disorders, including generalized anxiety disorder, panic disorder, and various phobia-related disorders.</p>
</div>
<div class="col-md-6 text-center">
<img src="{{url_for('static',filename = 'ANXIETY.png')}}" class="img-fluid">
</div>
</div>
</div>
</section>

<section id="Symptoms">
<div class="container">
<div class="row">
<div class="col about-us">
<p class="mini-title" style="color:white;">Signs and Symptoms</p>
<p class="description" style="color:white;">People with generalized anxiety disorder (GAD) display excessive anxiety or worry, most days for at least 6 months, about a number of things such as personal health, work, social interactions, and everyday routine life circumstances. The fear and anxiety can cause significant problems in areas of their life, such as social interactions, school, and work.</p>
	<p style="color:white;">Generalized anxiety disorder symptoms include:</p>
	<ul>
	<li style="color:white;">Feeling restless, wound-up, or on-edge</li>
	<li style="color:white;">Being easily fatigued</li>
	<li style="color:white;">Having difficulty concentrating; mind going blank</li>
	<li style="color:white;">Being irritable</li>
	<li style="color:white;">Having muscle tension</li>
	<li style="color:white;">Difficulty controlling feelings of worry</li>
	<li style="color:white;">Having sleep problems, such as difficulty falling or staying asleep, restlessness, or unsatisfying sleep</li>
	</ul>
<p class="description" style="color:white;">People with panic disorder have recurrent unexpected panic attacks. Panic attacks are sudden periods of intense fear that come on quickly and reach their peak within minutes. Attacks can occur unexpectedly or can be brought on by a trigger, such as a feared object or situation.</p>
</div>
</div>
</div>
</section>

<section id="Treatments">
<div class="container">
<div class="row">
<div class="col about-us">
<p class="mini-title" style="color:white;">Treatments and Therapies</p>
<p class="description" style="color:white;">Anxiety disorders are generally treated with psychotherapy, medication, or both. There are many ways to treat anxiety and people should work with their doctor to choose the treatment that is best for them. Psychotherapy or “talk therapy” can help people with anxiety disorders. To be effective, psychotherapy must be directed at the person’s specific anxieties and tailored to his or her needs.</p>
</div>
</div>
</div>
</section>


</body>
{% endblock contents %}