{% extends "layout.html" %} {% block contents %}


<!----Banner  Section---->

<section id="Overview">
<div class="container">
<h1 class="title text-center" style="color:white;">DEPRESSION</h1>
<div class="row">
<div class="col-md-6 about-us">
<p class="mini-title" style="color:white;">Overview</p>
<p class="description" style="color:white;">Depression (major depressive disorder or clinical depression) is a common but serious mood disorder. It causes severe symptoms that affect how you feel, think, and handle daily activities, such as sleeping, eating, or working. To be diagnosed with depression, the symptoms must be present for at least two weeks.</p>
	<p>Some forms of depression are slightly different, or they may develop under unique circumstances, such as:</p>
	<ul>
	<li>Persistent depressive disorder (also called dysthymia) is a depressed mood that lasts for at least two years. A person diagnosed with persistent depressive disorder may have episodes of major depression along with periods of less severe symptoms, but symptoms must last for two years to be considered persistent depressive disorder.</li>
	<li>Postpartum depression is much more serious than the “baby blues” (relatively mild depressive and anxiety symptoms that typically clear within two weeks after delivery) that many women experience after giving birth. Women with postpartum depression experience full-blown major depression during pregnancy or after delivery (postpartum depression). The feelings of extreme sadness, anxiety, and exhaustion that accompany postpartum depression may make it difficult for these new mothers to complete daily care activities for themselves and/or for their babies.</li>
	<li>Psychotic depression occurs when a person has severe depression plus some form of psychosis, such as having disturbing false fixed beliefs (delusions) or hearing or seeing upsetting things that others cannot hear or see (hallucinations). The psychotic symptoms typically have a depressive “theme,” such as delusions of guilt, poverty, or illness.</li>
	</ul>
</div>
<div class="col-md-6 text-center">
<img src="{{url_for('static',filename = 'DEPRESSION.png')}}" class="img-fluid">
</div>
</div>
</div>
</section>

<section id="Symptoms">
<div class="container">
<div class="row">
<div class="col about-us">
<p class="mini-title" style="color:white;">Signs and Symptoms</p>
<p class="description" style="color:white;">Not everyone who is depressed experiences every symptom. Some people experience only a few symptoms while others may experience many. Several persistent symptoms in addition to low mood are required for a diagnosis of major depression, but people with only a few – but distressing – symptoms may benefit from treatment of their “subsyndromal” depression. The severity and frequency of symptoms and how long they last will vary depending on the individual and his or her particular illness. Symptoms may also vary depending on the stage of the illness. If you have been experiencing some of the following signs and symptoms most of the day, nearly every day, for at least two weeks, you may be suffering from depression:</p>
	<ul>
	<li style="color:white;">Persistent sad, anxious, or “empty” mood</li>
	<li>Feelings of hopelessness, or pessimism</li>
	<li>Irritability</li>
	<li>Aches or pains, headaches, cramps, or digestive problems without a clear physical cause and/or that do not ease even with treatment</li>
	</ul>
</div>
</div>
</div>
</section>

<section id="Treatments">
<div class="container">
<div class="row">
<div class="col about-us">
<p class="mini-title" style="color:white;">Treatments and Therapies</p>
<p class="description" style="color:white;">Depression, even the most severe cases, can be treated. The earlier that treatment can begin, the more effective it is. Depression is usually treated with medications, psychotherapy, or a combination of the two. If these treatments do not reduce symptoms, electroconvulsive therapy (ECT) and other brain stimulation therapies may be options to explore. Antidepressants are medicines that treat depression. They may help improve the way your brain uses certain chemicals that control mood or stress. You may need to try several different antidepressant medicines before finding the one that improves your symptoms and has manageable side effects. A medication that has helped you or a close family member in the past will often be considered.</p>
</div>
</div>
</div>
</section>

{% endblock contents %}